body{
    font-family: 'Merienda', cursive;
}
a{
    text-decoration:none !important;
    color:black;
}
a:hover{
    color:black;
}

nav{
    display:flex;
    text-decoration:none;
    color:white;
}
button{
    margin-top:2%;
    background-color:white;
    color:green;
    border-radius:20px;
    border-color:green;
    float:right;

}
button:hover{

    background-color:green;
    color:white;
}
#but1{
    margin-left:100px;
    background-color:green;
    color:white;
}
#but1:hover{
    background-color:white;
    color:green;
}
.butto{
    float:left;
    margin-left:400px;
}
img{
    float:left;
    border-radius:50%;
    margin-right:10%;
    box-shadow:2px 2px 2px green;
    height:60vh;
}
p{
    color:green;
}
h2{
    margin-right:20%;
}
#top{
    margin-top:7%;
    color:green;
    margin-left:3%;
    font-size:3em;
}
#starter{
    color:white;
}
h3{
 text-align:center;
}
h1{
    font-size:2em;
    text-align:center;
}
span{
    color:green;

